@import '../../../shared/styles/design-system.scss';

.invoicesControlPanel{
    width: 100%;
    @include flex(row, space-between, center);
    & .visibility{
        display: inline;
        @media screen and (max-width: 500px) {
            display: none;
        }
    }

}
.invoicesControlPanel__text-block{
    @include flex(column, flex-start, flex-start);
    gap: clamp(.3rem, .5vw, .6rem) 0;

}
.invoicesControlPanel__app-name{
    @include heading-l;
    transition: color $transition;
    &_theme_light{
        color: $color-08;
    }
    &_theme_dark{
        color: $color-15;
    }
    @media screen and (max-width: 500px) {
        @include heading-m;
    }
}
.invoicesControlPanel__total-invoices{
    @include body('max');
    transition: color $transition;
    &_theme_light{
        color: $color-06;
    }
    &_theme_dark{
        color: $color-05;
    }
}
.invoicesControlPanel__button{
    &-content{
        @include flex(row, flex-start, center);
        gap: 0 1.6rem;
        position: relative;
        left: 0;
        @media screen and (max-width: 500px) {
            gap: 0 .8rem;
        }
    }
    &-img{
        @include flex(row, center, center);
        width: 3.2rem;
        height: 3.2rem;
        background-color: white;
        border-radius: 100%;
    }
}