@import '../../../shared/styles/design-system.scss';

.invoicesListItem{
    @include block-appearance;
    width: 100%;
    cursor: pointer;
    border: .1rem solid transparent;
    display: grid;
    align-items: center;
    &:hover{
        border-color: $color-01;
    }
    @media screen and (min-width:760px) {
        padding: 1.6rem 2.2rem 1.6rem 3.2rem;
        height: 7.2rem;
        grid-template-columns: 15% 22% 25% 17% 10.4rem 2.4rem;
        grid-template-areas: "id date name price status arrow";
    }
    @media screen and (max-width:760px) {
        gap: .9rem 0;
        justify-items: center;
        padding: 2.4rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto .7rem auto auto;
        grid-template-areas: 
            "id name"
            ". ."
            "date status"
            "price status";
        justify-items: center;
        @media screen and (max-width:450px) {
            justify-items: baseline;
        }
    }

}
.invoicesListItem__id{
    grid-area: id;
    @include id-appearance;
}
.invoicesListItem__invoiceDate{
    grid-area: date;
    transition: color $transition;
    @include body('min');
    &_theme_light{
        color: $color-06;
    }
    &_theme_dark{
        color: $color-05;
    }
}   
.invoicesListItem__client-name{
    grid-area: name;
    transition: color $transition;
    @include body('min');
    &_theme_light{
        color: $color-06;
    }
    &_theme_dark{
        color: $color-15;
    }
    @media screen and (max-width:450px) {
        justify-self: self-end;
    }
}
.invoicesListItem__price{
    grid-area: price;
    transition: color $transition;
    @include heading-s('max');
    &_theme_light{
        color: $color-08;
    }
    &_theme_dark{
        color: $color-15;
    }
}
.invoicesListItem__status{
    grid-area: status;
    @media screen and (max-width:450px) {
        justify-self: self-end;
    }
}
.invoicesListItem__arrow{
    grid-area: arrow;
    @include flex(row, flex-end, center);
    @media screen and (max-width:760px) {
        display: none;
    }
}