@import '../../../shared/styles/design-system.scss';

.itemList{
    display: grid;
    gap: 1.6rem;
    grid-template-columns: $template-col-5;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "table-header table-header table-header table-header table-header"
    "item         item         item         item         item  "
    "footer       footer       footer       footer       footer";
}
.itemList__table-header{
    grid-area: table-header;
    width: 100%;
    gap: 1.6rem;
    display: grid;
    grid-template-columns: $template-col-5;
    &-item{
        @include body('min');
        transition: color $transition;
        &_theme_light{
            color: $color-07;
        }
        &_theme_dark{
            color: $color-05;
        }
        @media screen and (max-width: 450px) {
            display: none;
        }
    }
}
.itemList__table-items{
    grid-area: item;
    display: grid;
    gap: 1.6rem 0;
}
.itemList__table-footer{
    grid-area: footer;

}