@import '../../../shared/styles/design-system.scss';

.item{
    display: grid;
    grid-template-columns: $template-col-5;
    gap: 0 1.6rem;
}
.item .formField-total .formField__input{
    background-color: transparent;

    @include flex(row, flex-start, center);
    @include heading-s('min');
    border: none;
    padding: 0;
    transition: color $transition;
    &_theme_light{
        color: $color-06;
    }
    &_theme_dark{
        color: $color-05;
    }
}