@import '../../styles/design-system.scss';

.formField{
    position: relative;
    @include flex(column, flex-start, flex-start);
    gap: .9rem 0;
    // flex-basis: 100%;
}
.formField__name{
    @include body('min');
    transition: color $transition;
    &_theme_light{
        color: $color-07;
    }
    &_theme_dark{
        color: $color-05;
    }
}

.item .formField__name{
    @media screen and (min-width: 450px) {
        display: none;
    }
}

.formField__input{
    height: 4.8rem;
    width: 100%;
    border: .1rem solid transparent;
    transition: all $transition;
    border-radius: .4rem;
    @include heading-s('min');
    padding: 0 10%;
    &_theme_light{
        border-color: $color-05;
        background-color: $color-15;
        color: $color-08;
    }
    &_theme_dark{
        background-color: $color-03;
        border-color: $color-04;
        color: $color-15;
    }
    &:hover{
        border-color: $color-02;
    }
    &:focus-visible{
        outline: 1px solid $color-01;
        border-color: transparent;
    }
}

.formField:has(.error){
    & .formField__name{
        color: $color-09;
    }
    & .formField__input{
        border-color: $color-09;
        &:focus-visible{
            outline: none;
        }
    }
    & .error{
        position: absolute;
        top: 0;
        right: 1rem;
        @include body('min');
        font-size: 1rem;
        color: $color-09;
    }
}
