button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.changeTheme-btn{
    & path{
        transition: $transition;
    }
    &:hover path{
        fill: $color-05;
    }
}

.dropDown-btn{
    height: auto;
    @include flex(row, space-between, center);
    gap: 0 14px;
    @include heading-s('min');
    transition: color $transition;
    &_light{
        color: $color-08;
    }
    &_dark{
        color: $color-15;
    }
    &::after{
        content: '';
        display: block;
        background-image: url('../../assets/img/icon-arrow-down.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 7px;
        transition: transform $transition;
    }
    &[data-menu-visible = true]::after{
        transform: rotate(180deg);
    }
}

.addItem-btn{
    width: 100%;
    height: 4.8rem;
    @include heading-s('min');
    border-radius: 2.4rem;
    transition: background-color $transition, color $transition;
    &_theme_light{
        background-color: $color-17;
        color: $color-07;
    }
    &_theme_dark{
        background-color: $color-04;
        color: $color-05;
    }
}