.itemList{
    @include gridForItems;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header-itemName header-quantity header-price header-totalPrice . "
        "item item item item item"
        "addItemBtn addItemBtn addItemBtn addItemBtn addItemBtn";
}
.itemList__header-itemName{
    grid-area: header-itemName;
}
.itemList__header-quantity{
    grid-area: header-quantity;

}
.itemList__header-price{
    grid-area: header-price;
}
.itemList__header-totalPrice{
    grid-area: header-totalPrice;
}
.addItem-btn{
    grid-area: addItemBtn;
}

.itemList__header{
    @include body('min');
    transition: color $transition;
    &_theme_light{
        color: $color-07;
    }
    &_theme_dark{
        color: $color-05;
    }
}
.itemList__items{
    grid-area: item;
    display: grid;
    gap: 1.6rem 0;
}

