.myLabel{
    @include flex(column, flex-start, flex-start);
    gap: .9rem 0;
    // flex-basis: 100%;
}
.myLabel__name{
    @include body('min');
    transition: color $transition;
    &_theme_light{
        color: $color-07;
    }
    &_theme_dark{
        color: $color-05;
    }
}