@import '../../styles/design-system.scss';

.modal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: 100;
    opacity: 1;
    transition: all $transition;
    &[data-visible = false]{
        // opacity: 0;
        // width: 0;
        display: none;
    }
    overflow-y: auto;
}
.modal__content{
    position: relative;
    width: clamp(40rem, 80.2vw, 61.6rem);
    border-radius: 0 2rem 2rem 0;
    @media screen and (max-width: 450px) {
        width: 100%;
        border-radius: 0;
    }
    height: 100%;
    overflow-x: hidden;
    // padding: clamp(2.4rem, 7vw, 5.6rem);
    // padding-bottom: 0;
    transition: background-color $transition;
                // scrollbar-color $transition,            
                // scrollbar-width $transition;
    &_theme_light{
        background-color: $color-15;
        // scrollbar-color: $color-05 $color-15;
        // scrollbar-width: 8px;
    }
    &_theme_dark{
        background-color: $color-12;
        // scrollbar-color: $color-04 $color-12;
        // scrollbar-width: 8px;
    }
}