@import '../../styles/design-system.scss';

.modal{
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: 100;
    opacity: 1;
    transition: all $transition;
    &[data-visible = false]{
        display: none;
    }
    @media screen and (orientation: landscape){
        top: 0;
        left: 10.4rem;
    }
    @media screen and (orientation: portrait){
        top: clamp(7rem, 8vh, 8rem);
        left: 0;
    }
}
.modal__content{
    position: relative;
    width: clamp(40rem, 80.2vw, 61.6rem);
    border-radius: 0 2rem 2rem 0;
    @media screen and (max-width: 450px) {
        width: 100%;
        border-radius: 0;
    }
    height: 100%;
    overflow: hidden;
    transition: background-color $transition;
    &_theme_light{
        background-color: $color-15;
    }
    &_theme_dark{
        background-color: $color-12;
    }
}