@import '../../styles/design-system.scss';

.table{
    @include gridForItems;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header-itemName header-quantity header-price header-totalPrice . "
        "item item item item item";
}
.table__header-itemName{
    grid-area: header-itemName;
}
.table__header-quantity{
    grid-area: header-quantity;

}
.table__header-price{
    grid-area: header-price;
}
.table__header-totalPrice{
    grid-area: header-totalPrice;
}
.table__header{
    @include body('min');
    transition: color $transition;
    &_theme_light{
        color: $color-07;
    }
    &_theme_dark{
        color: $color-05;
    }
    @media screen and (max-width: 450px) {
        display: none;
    }
}
.table__items{
    grid-area: item;
    display: grid;
    gap: 1.6rem 0;
}